* {
  padding: 0;
  margin: 0;

  .headerBlock {
    height: 650px;
    background:
            url("../img/header_overlay.png"),
            url("../img/header_background.png");
    background-size: 100% 100%;
    position: relative;
    &__logo {
      position: absolute;
      display: inline-flex;
      align-items: center;
      top: 3%;
      left: 22%;
      .blockLogo {
        margin-right: 5%;
      } // blockLogo
    } //headerBlock Logo
    &__Menu {
      position: absolute;
      top: 4.5%;
      right: 27%;
      .menuItems {
        display: inline-flex;
        color: white;
        font-family: 'Roboto', SansSerif;
        font-weight: 900;
        font-size: 13px;
      } // menuItems
      .menuItems li {
        margin: 2%;
        white-space: pre;
      } //menuItems li
      .menuItems li:hover {
        color: #00e0d0;
      } // menuItems li:hover
    } // headerBlock Menu
    &__Menu ul {
      list-style-type: none;
    }
  } // headerBlock


  .slider {
    position: absolute;
    left: 25%;
    top: 34%;
    width: 50%;
    .articleName {
      margin-bottom: 4%;
      text-align: center;
      font-family: 'Playfair Display';
      font-weight: 700;
      font-size: 32px;
      color: white;
    } //articleName
    .sliderLine {
      margin-bottom: 4%;
      text-align: center;
    } //sliderLine
    .articleStory {
      margin-bottom: 8%;
      text-align: center;
      color: white;
      font-family: 'Roboto', SansSerif;
      font-weight: 300;
      font-size: 14px;
    } //articleStory
    .sliderButton {
      text-align: center;
      margin-bottom: 18%;
    } //sliderButton
    .buttonLearnMore {
      position: absolute;
      height: 40px;
      width: 120px;
      border-color: #00e0d0;
      border-bottom-width: 2px;
      background: transparent;
      color: #00e0d0;
      font-family: 'HammersmithOne', SansSerif;
      font-weight: 400;
      font-size: 16px;
      left: 50%;
      transform: translate(-50%);
    } // buttonLearnMore
    .sliderDots {
      text-align: center;
    } //sliderDots
  }// Slider


  .ourStoryBlock {
    position: relative;
    height: 400px;
    background: #ffffff;   

    .ourStoryBlock__content {
      position: absolute;
      top: 19%;
      left: 23%;
      right: 17%;
      height: 200px;      
      display: inline-flex;

      .logoTajamBlock {
        margin-right: 6%;
      }

      .textBlock {
        height: 270px;
        width: auto;
      }

      .textBlock h3 {
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 4%;
      }

      .textBlock p {
        font-family: 'Roboto', SansSerif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 4%;
      }
    }
    .buttonLearnMoreSecond {
      position: absolute;
      height: 40px;
      width: 120px;
      border-color: #00e0d0;
      border-bottom-width: 2px;
      background: transparent;
      color: #00e0d0;
      font-family: 'HammersmithOne', SansSerif;
      font-weight: 400;
      font-size: 16px;
      bottom: 13%;
      left: 50%;
      transform: translate(-50%);
    }
  }  // ourStoryBlock
  .videoBlock {
    height: 550px;
    background:
            url("../img/overlayVideoBlock.png"),
            url("../img/imageVideoBlock.png");
    background-size: 100% 100%;
    position: relative;
    .videoBlock__content {
      .videoBlockLogo {
        .circle {
          position: absolute;
          top: 41%;
          left: 47%;
        }
        .play{
          position: absolute;
          top: 46.5%;
          left: 49.5%;
        }
      }
      .videoBlockText {
        position: absolute;
        top: 62%;
        left: 45.5%;
        font-family: 'Roboto', SansSerif;
        font-weight: 900;
        font-size: 16px;
        color: white;
      }
    }
  } // videoBlock

  .expertiseBlock {
    height: 755px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;

    .expertiseBlockHeader {
      position: absolute;
      left: 50%;
      top: 9%;
      transform: translate(-50%);
      text-align: center;
    }

    .expertiseBlockHeader h3 {
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: 700;
      color: #413d4b;
      margin-bottom: 3%;
    }
    .expertiseBlockHeader p {
      font-family: "Playfair Display";
      font-size: 14px;
      font-weight: 500;
      color: #2f2d35;
    }
  }
  .expertiseBlockContent {
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translate(-50%);
    width: 57%;
    height: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .expertiseBlockContent__web {
      width: 29%;
      height: 41%;
      margin-bottom: 9%;
      margin-right: 2%;
      margin-left: 2%;
    }
    .expertiseBlockContent__branding {
      width: 29%;
      height: 41%;
      margin-bottom: 9%;
      margin-right: 2%;
      margin-left: 2%;
    }
    .expertiseBlockContent__mobile {
      width: 29%;
      height: 41%;
      margin-bottom: 9%;
      margin-right: 2%;
      margin-left: 2%;
    }
    .expertiseBlockContent__optimization {
      width: 29%;
      height: 41%;
      margin-bottom: 9%;
      margin-right: 2%;
      margin-left: 2%;
    }
    .expertiseBlockContent__game {
      width: 29%;
      height: 41%;
      margin-bottom: 9%;
      margin-right: 2%;
      margin-left: 2%;
    }
    .expertiseBlockContent__love {
      width: 29%;
      height: 41%;
      margin-bottom: 9%;
      margin-right: 2%;
      margin-left: 2%;
    }
  }
  .expertiseBlockContent img {
    height: 29%;
    width: auto;
  }
  .expertiseBlockContent h6 {
    font-family: 'Roboto', SansSerif;
    font-size: 14px;
    font-weight: 900;
    color: #413d4b;
    margin-top: 13%;
  }
  .expertiseBlockContent p {
    font-family: 'Roboto', SansSerif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-top: 11%;
  }

  .teamBlock {
    height: 715px;
    background:
            url("../img/overlayTeamBlock.png"),
            url("../img/teamBlock.png");
    background-size: 100% 100%;
    position: relative;

    .teamBlock__header {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
    }
    .teamPhoto {
      position: absolute;
      display: inline-flex;
      align-items: center;
      top: 26%;
      left: 50%;
      transform: translate(-50%);

      .teamPhotoFirst {
        border: 1px solid #f9f9f9;
        width: 220px;
        height: 310px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        .ourTeam {
          height: 74%;
        }
        .name {
          height: 26%;
          text-align: center;
        }
        .name h6 {
          font-family: 'Roboto', SansSerif;
          font-size: 14px;
          font-weight: 900;
          color: white;
          margin-top: 8%;
        }
        .name p {
          font-family: 'Roboto', SansSerif;
          font-size: 13px;
          font-weight: 400;
          color: white;
          margin-top: 3%;
        }
      }

      .dikAdalin {
        border: 1px solid #f9f9f9;
        width: 220px;
        height: 310px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        .dikAdalin__photo {
          height: 74%;
        }
        .dikAdalin__name {
          height: 26%;
          text-align: center;
        }
        .dikAdalin__name h6 {
          font-family: 'Roboto', SansSerif;
          font-size: 14px;
          font-weight: 900;
          color: white;
          margin-top: 8%;
        }
        .dikAdalin__name p {
          font-family: 'Roboto', SansSerif;
          font-size: 13px;
          font-weight: 400;
          color: white;
          margin-top: 3%;
        }
      }
      .jengKol {
        border: 1px solid #f9f9f9;
        width: 220px;
        height: 310px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        .jengKol__photo {
          height: 74%;
        }
        .jengKol__name {
          height: 26%;
          text-align: center;
        }
        .jengKol__name h6 {
          font-family: 'Roboto', SansSerif;
          font-size: 14px;
          font-weight: 900;
          color: white;
          margin-top: 8%;
        }
        .jengKol__name p {
          font-family: 'Roboto', SansSerif;
          font-size: 13px;
          font-weight: 400;
          color: white;
          margin-top: 3%;
        }
      }
      .petRomak {
        border: 1px solid #f9f9f9;
        width: 220px;
        height: 310px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        .petRomak__photo {
          height: 74%;
        }
        .petRomak__name {
          height: 26%;
          text-align: center;
        }
        .petRomak__name h6 {
          font-family: 'Roboto', SansSerif;
          font-size: 14px;
          font-weight: 900;
          color: white;
          margin-top: 8%;
        }
        .petRomak__name p {
          font-family: 'Roboto', SansSerif;
          font-size: 13px;
          font-weight: 400;
          color: white;
          margin-top: 3%;
        }
      }
    }
    .teamBlockFooter {
      position: absolute;
      top: 79%;
      left: 50%;
      transform: translate(-50%);
      .partTeam {
        font-family: 'Roboto', SansSerif;
        font-size: 14px;
        font-weight: 400;
        color: #f9f9f9;
      }
      .buttonWeAreHiring {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 14%;
        height: 40px;
        width: 140px;
        border-color: #00e0d0;
        border-bottom-width: 2px;
        background: transparent;
        color: #00e0d0;
        font-family: 'HammersmithOne', SansSerif;
        font-weight: 400;
        font-size: 16px;
      }
    }
    .teamBlock__header h6 {
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: bold;
      color: #f9f9f9;
      margin-bottom: 3%;
    }
    .teamBlock__header p {
      font-family: "Playfair Display";
      font-size: 14px;
      font-weight: 400;
      color: #f9f9f9;
    }
  }
  .ourWorks {
    height: 740px;
    background: #ffffff;
    position: relative;
    .leftHeader {
      position: absolute;
      top: 9%;
      left: 20%;
      font-family: "Playfair Display";
      font-size: 22px;
      font-weight: bold;
      color: #413d4b;
    }
    .rightHeader {
      position: absolute;
      top: 10%;
      right: 20%;
      font-family: 'Roboto', SansSerif;
      font-size: 14px;
      font-weight: 400;
      color: #413d4b;
    }
    .examplesWork {
      position: absolute;
      top: 21%;
      margin: 0;
      padding: 0;
      border: 0;
      display: flex;
      flex-wrap: wrap;
    }
    .examplesWork img {
      float: left;
      margin: 0;
      padding: 0;
      border: 0;
      max-height: 100%;
      width: 16.6%;
    }
    .buttonLoadMore {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 9%;
      height: 40px;
      width: 140px;
      border-color: #00e0d0;
      border-bottom-width: 2px;
      background: transparent;
      color: #00e0d0;
      font-family: 'HammersmithOne', SansSerif;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .ceoBlock {
    height: 500px;
    background:
            url("../img/ceo_overlay.png"),
            url("../img/ceo_image.png");
    background-size: 100% 100%;
    position: relative;
    .ceoBlock__content {
      position: absolute;
      top: 16%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
    }
    .ceoBlock__content h5 {
      font-family: "Playfair Display";
      font-size: 100px;
      font-weight: 700;
      color: #ffffff;
      line-height: 28px;
    }
    .ceoBlock__content p {
      font-family: "Playfair Display";
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      margin-top: 6%;
    }
    .ceoBlock__name {
      position: absolute;
      bottom: 36%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
    }
    .ceoBlock__name h5 {
      font-family: 'Roboto', SansSerif;
      font-size: 14px;
      font-weight: 900;
      color: #ffffff;
      margin-bottom: 3%;
    }
    .ceoBlock__name p {
      font-family: 'Roboto', SansSerif;
      font-size: 13px;
      font-weight: 400;
      color: #ffffff;
    }
    .ceoBlock__photo {
      width: 420px;
      height: 75px;
      position: absolute;
      bottom: 14%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      .ceoBack {
        margin-right: 5%;
        filter: invert(1);
      }
      .ceoForward {
        margin-left: 5%;
        filter: invert(1);
      }
    }
    .ceoBlock__photo img {
      margin: 1.5%;
      vertical-align: middle;
    }
  }
  .inputBlock {
    height: 660px;
    background: #ffffff;
    margin-left: 15%;
    margin-top: 10%;
    position: relative;

    .goodNews h2 {
      margin-bottom: 1.5%;
    }

    .nameSubmit {
      height: 45px;
      width: 460px;
      display: table;
      margin-bottom: 1.5%;
    }

    .messageSubmit {
      height: 200px;
      width: 460px;
      display: table;
      margin-bottom: 1.5%;
    }
    .messageSubmit::placeholder {

    }
    .buttonSubmit {
      height: 40px;
      width: 120px;
      border-color: #00e0d0;
      border-bottom-width: 2px;
      background: transparent;
      color: #00e0d0;
      font-family: 'HammersmithOne', SansSerif;
      font-weight: 400;
      font-size: 16px;
    }
    .happyClient {
      position: absolute;
      height: 480px;
      width: 400px;
      top: 0;
      right: 15%;
      .happyClient__header {
        color: #413d4b;
        font-family: "Playfair Display";
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 7%;
      }
      .happyClient__brands {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .Billabong {
          margin-top: -4%;
        }
      }
     .happyClient__brands img {
       width: auto;
       height: 100%;
       margin-left: 0%;
       margin-right: 10%;
       margin-bottom: 12%;
     }
    }
  }
    .footerBlock {
        height: 400px;
        background: url("../img/footeroverlay.png"),
        url("../img/footer.png");
        background-size: 100% 100%;
        position: relative;
    
//////    
        .footerBlock__about {
          width: 22%;
          height: auto;
          position: absolute;
          top: 16%;
          left: 15%;               
          .tajamBlock {
            display: inline-flex;
            align-items: center;
            .logoBlock {
              margin-right: 5%;
            }
          }
        }
        .contentBlock {
          font-family: 'Roboto', SansSerif;
          font-size: 14px;
          font-weight: 400;
          margin-top: 10%;
          margin-bottom: 30%;
          color: #ffffff;
        }
        .itemsList {
          font-family: 'Roboto', SansSerif;
          font-size: 12px;
          font-weight: 600;
          color: #ffffff;
          display: inline-flex;
          width:  100%;
          .terms {
            margin-left: 7%;
            margin-right: 7%;
          }
        }
        .itemsList li {
          list-style-type: none;
        }
        .itemsList li:hover {
          color: #00e0d0;
        }


    /////////
        .footerBlock__studio {
            width: 22%;
            height: auto;
            position: absolute;
            top: 20%;
            left: 39%;                        
            .locationTajam {
                display: inline-flex;
                align-items: flex-start;              
                .locationLogo {  
                    margin-right: 10%;                  
                } 
            }  
            .ourPhone {
                display: inline-flex;
                align-items: flex-start;
                .imagePhone {
                    margin-right: 10%;                               
                }
            }
        }
        .footerBlock__studio h4 {
            font-family: 'Roboto', SansSerif;
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;        
            margin-bottom: 19%;
        }
        .footerBlock__studio p {
            font-family: 'Roboto', SansSerif;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            margin-bottom: 8%        
        }

    /////////
        .footerBlock_stayIn {
            width: 22%;
            height: auto;
            position: absolute;
            top: 20%;
            left: 63%;  
            .stayIn {
                font-family: 'Roboto', SansSerif;
                font-size: 15px;
                font-weight: 700;
                color: #ffffff;        
                margin-bottom: 16%;
            }
            .subscribeIn {
                display: inline-flex;
                .nameSubmit {
                    height: 41px;
                    width: 210px;                
                    margin-bottom: 1.5%; 
                    display: inline-flex;
                    align-items: flex-start;
                    background-color: transparent;
                }
                .nameSubmit::placeholder {
                    text-align:center;
                }
                .paperButton {

                    .rectangle10 {
                        position: absolute;
                        margin-left: 3%;
                        z-index: 1;
                    }
                    .paper {
                        position: absolute;
                        z-index: 2;
                        right: 10%;
                        top: 44%;
                    }
                }            
            }
            .logoItems {
                display: inline-flex;
                .circleImg {
                    height: 35px;
                    width: 35px;
                    background: transparent;
                    border-radius: 50%;               
                    border: 1px solid white; 
                    margin-top: 8%;
                    margin-right:8px;
                    .facebook {
                        margin-top: 10px;
                        margin-left: 14px;
                    }
                    .twitter {
                        margin-top: 12px;
                        margin-left: 11px; 
                    }
                    .dribbble {
                        margin-top: 10px;
                        margin-left: 10px; 
                    }
                    .instagram {
                        margin-top: 11px;
                        margin-left: 10px; 
                    }
                    .google {
                        margin-top: 12px;
                        margin-left: 11px; 
                    }
                    .youtube {
                        margin-top: 12px;
                        margin-left: 10px; 
                    }
                }            
            }        
        }
    }
}// *
@media screen and (max-width: 1200px) { 
    .videoBlock 
        .videoBlock__content 
            .videoBlockLogo 
                .play {
                    position: absolute;
                    top: 46.5%;
                    left: 50.0%;
    }
    .ourStoryBlock { 
        .sliderButton {
            .buttonLearnMoreSecond {
                bottom: 5%;
                left: 33%;                
            }
        }
    }
    .inputBlock {
        height: 660px;
        background: #ffffff;
        margin-left: 5%;
        margin-top: 10%;
        position: relative;

        .goodNews h2 {
            margin-bottom: 1.5%;
        }

        .nameSubmit {
            height: 45px;
            width: 460px;
            display: table;
            margin-bottom: 1.5%;
        }

        .messageSubmit {
            height: 200px;
            width: 460px;
            display: table;
            margin-bottom: 1.5%;
        }
        .messageSubmit::placeholder {

        }
        .buttonSubmit {
            height: 40px;
            width: 120px;
            border-color: #00e0d0;
            border-bottom-width: 2px;
            background: transparent;
            color: #00e0d0;
            font-family: 'HammersmithOne', SansSerif;
            font-weight: 400;
            font-size: 16px;
        }
        .happyClient {
            position: absolute;
            height: 480px;
            width: 400px;
            top: 0;
            right: 5%;
            .happyClient__header {
                color: #413d4b;
                font-family: "Playfair Display";
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 7%;
            }
            .happyClient__brands {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                .Billabong {
                    margin-top: -4%;
                }
            }
            .happyClient__brands img {
                width: auto;
                height: 100%;
                margin-left: 0%;
                margin-right: 10%;
                margin-bottom: 12%;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
.headerBlock {
        &__logo {
            top: 10%;
            left: 10%;
        } //headerBlock Logo
        &__Menu {            
            top: 11.5%;
            right:15%;
            .menuItems {
                display: inline-flex;
                
            } // menuItems         
        } // headerBlock Menu
        .slider {            
            left: 5%;
            top: 32%;
            width: 90%;
            height: 70%;
            .articleStory {
                font-size: 16px;
            } //articleStory
            .sliderButton {
                text-align: center;
                margin-bottom: 10%;
            } //sliderButton
            .buttonLearnMore {
                top: 70%;
            } // buttonLearnMore
            .sliderDots {
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%);
            } //sliderDots
        }//
    }
    .ourStoryBlock {    
        height: 450px;
        .ourStoryBlock__content {
            top: 5%;
            left: 5%;
            right: 5%;
            height: 180px;  
            .logoTajamBlock img {
                height: 100px;
                width: auto;
            }            
            .textBlock p {
                font-size: 16px;
            }           
        }
        .sliderButton {
            .buttonLearnMoreSecond {
                bottom: 5%;
                left: 20%;                
            }
        }
    }
    .videoBlock {
        height: 300px;
        .videoBlock__content {
            .videoBlockLogo {
                .circle {
                    position: absolute;
                    top: 35%;
                    left: 45%;
                }
                .play{
                    position: absolute;
                    top: 45.5%;
                    left: 48.5%;
                }
            }
            .videoBlockText {
                top: 75%;
                left: 42%;
            }
        }
    }
    .expertiseBlock {
        height: 800px;
        .expertiseBlockHeader {
            top: 2%;
        }
        .expertiseBlockHeader p {
            font-size: 16px;
        }
        .expertiseBlockContent {
            top: 16%;
            width: 90%;
            height: 85%;
            .expertiseBlockContent__web {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__branding {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__mobile {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__optimization {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__game {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__love {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
        }
        .expertiseBlockContent img {
            height: 20%;
            width: auto;
        }       
        .expertiseBlockContent h6 {
            font-size: 16px;
            margin-top: 7%;
        }
        .expertiseBlockContent p {
            font-size: 16px;
            margin-top: 7%;
        }
    }
    .teamBlock {
        display: flex;
        flex-direction: column;
        height: 1000px;
        .teamBlock__header {
            top: 2%;
        }
        .teamPhoto {            
            position: absolute;
            top: 15%;
            left: 5%;
            transform: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;   
            .teamPhotoFirst {
                margin-bottom: 5px;
            }
            .dikAdalin {
                margin-bottom: 5px;
            }
            .jengKol {
                margin-bottom: 5px;
            }
        }
        .teamBlockFooter {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .ourWorks {
        height: 1000px;
        .leftHeader {
            top: 2%;
            left: 50%;
            transform: translate(-50%);
        }
        .rightHeader {
            top: 6%;
            right: 48%;
            transform: translate(50%);
            font-size: 16px;
        }
        .examplesWork {
            top: 10%;
            flex-direction: row;
        }
        .examplesWork img { 
            width: 33.3%;
        }
        .buttonLoadMore {
            bottom: 3%;
        }
    }
    .ceoBlock {
        height: 600px;
        background:
            url("../img/ceo_overlay.png"),
            url("../img/ceo_image.png");
        background-size: 100% 100%;
        position: relative;
        .ceoBlock__content {            
            top: 10%;
        }
        .ceoBlock__content p {
            width: 300px;
            margin-top: 0%;
            font-size: 18px;
        }
        .ceoBlock__name {  
            bottom: 28%;
        }
        .ceoBlock__photo {
            bottom: 12%;
            margin-right: 4%;              
            .ceoForward {
                margin-left: 2%;                
            }    
            .ceoBack {
                margin-right: 2%;                
            }  
        }
        .ceoBlock__photo img {
            margin: 0.5%;            
        }
    }
    .inputBlock {
        height: 1100px;
        margin-left: 5%;
        margin-top: 5%;
        .goodNews{
            .nameSubmit {
                width: 300px; 
                margin-bottom: 2.5%;
            }
            .messageSubmit {
                width: 300px;
            }
        }
        .goodNews h2 {
            margin-bottom: 2.5%;
        }
        .happyClient {      
            width: 375px;
            top: 52%;
            right: 0; 
            left: 5%;
            .happyClient__header {                
                margin-left: 22%;
                margin-bottom: 7%;
            }            
            .happyClient__brands img {
                margin-left: 0%;
                margin-right: 5%;
                margin-right: 5%;
                margin-bottom: 12%;
            }
        }        
    }
   .footerBlock {
        height: 400px;
        background: url("../img/footeroverlay.png"),
        url("../img/footer.png");
        background-size: 100% 100%;
        position: relative;
    
//////    
        .footerBlock__about {
          width: 22%;
          height: auto;
          position: absolute;
          top: 16%;
          left: 15%;               
          .tajamBlock {
            display: inline-flex;
            align-items: center;
            .logoBlock {
              margin-right: 5%;
            }
          }
        }
        .contentBlock {
          font-family: 'Roboto', SansSerif;
          font-size: 14px;
          font-weight: 400;
          margin-top: 10%;
          margin-bottom: 30%;
          color: #ffffff;
        }
        .itemsList {
          font-family: 'Roboto', SansSerif;
          font-size: 12px;
          font-weight: 600;
          color: #ffffff;
          display: inline-flex;
          width:  100%;
          .terms {
            margin-left: 7%;
            margin-right: 7%;
          }
        }
        .itemsList li {
          list-style-type: none;
        }
        .itemsList li:hover {
          color: #00e0d0;
        }


    /////////
        .footerBlock__studio {
            width: 22%;
            height: auto;
            position: absolute;
            top: 20%;
            left: 39%;                        
            .locationTajam {
                display: inline-flex;
                align-items: flex-start;              
                .locationLogo {  
                    margin-right: 10%;                  
                } 
            }  
            .ourPhone {
                display: inline-flex;
                align-items: flex-start;
                .imagePhone {
                    margin-right: 10%;                               
                }
            }
        }
        .footerBlock__studio h4 {
            font-family: 'Roboto', SansSerif;
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;        
            margin-bottom: 19%;
        }
        .footerBlock__studio p {
            font-family: 'Roboto', SansSerif;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            margin-bottom: 8%        
        }

    /////////
        .footerBlock_stayIn {
            width: 22%;
            height: auto;
            position: absolute;
            top: 20%;
            left: 63%;  
            .stayIn {
                font-family: 'Roboto', SansSerif;
                font-size: 15px;
                font-weight: 700;
                color: #ffffff;        
                margin-bottom: 16%;
            }
            .subscribeIn {
                display: inline-flex;
                .nameSubmit {
                    height: 41px;
                    width: 210px;                
                    margin-bottom: 1.5%; 
                    display: inline-flex;
                    align-items: flex-start;
                    background-color: transparent;
                }
                .nameSubmit::placeholder {
                    text-align:center;
                }
                .paperButton {

                    .rectangle10 {
                        position: absolute;
                        margin-left: 3%;
                        z-index: 1;
                    }
                    .paper {
                        display: none;
                    }
                }            
            }
            .logoItems {
                display: inline-flex;
                .circleImg {
                    height: 35px;
                    width: 35px;
                    background: transparent;
                    border-radius: 50%;               
                    border: 1px solid white; 
                    margin-top: 8%;
                    margin-right:8px;
                    .facebook {
                        margin-top: 10px;
                        margin-left: 14px;
                    }
                    .twitter {
                        margin-top: 12px;
                        margin-left: 11px; 
                    }
                    .dribbble {
                        margin-top: 10px;
                        margin-left: 10px; 
                    }
                    .instagram {
                        margin-top: 11px;
                        margin-left: 10px; 
                    }
                    .google {
                        margin-top: 12px;
                        margin-left: 11px; 
                    }
                    .youtube {
                        margin-top: 12px;
                        margin-left: 10px; 
                    }
                }            
            }        
        }
    }
}
@media screen and (max-width: 800px) {    
    .headerBlock {
        &__logo {
            top: 10%;
            left: 10%;
        } //headerBlock Logo
        &__Menu {            
            top: 3%;
            right: 5%;
            .menuItems {
                display: flex;
                flex-direction: column;
            } // menuItems         
        } // headerBlock Menu
        .slider {            
            left: 5%;
            top: 32%;
            width: 90%;
            height: 70%;
            .articleStory {
                font-size: 16px;
            } //articleStory
            .sliderButton {
                text-align: center;
                margin-bottom: 10%;
            } //sliderButton
            .buttonLearnMore {
                top: 70%;
            } // buttonLearnMore
            .sliderDots {
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%);
            } //sliderDots
        }//
    }
    .ourStoryBlock {    
        height: 450px;
        .ourStoryBlock__content {
            top: 5%;
            left: 5%;
            right: 5%;
            height: 180px;  
            .logoTajamBlock img {
                height: 100px;
                width: auto;
            }            
            .textBlock p {
                font-size: 16px;
            }           
        }
        .sliderButton {
            .buttonLearnMoreSecond {
                bottom: 5%;
                left: 20%;                
            }
        }
    }
    .videoBlock {
        height: 300px;
        .videoBlock__content {
            .videoBlockLogo {
                .circle {
                    position: absolute;
                    top: 35%;
                    left: 45%;
                }
                .play{
                    position: absolute;
                    top: 45.5%;
                    left: 49.5%;
                }
            }
            .videoBlockText {
                top: 75%;
                left: 42%;
            }
        }
    }
    .expertiseBlock {
        height: 800px;
        .expertiseBlockHeader {
            top: 2%;
        }
        .expertiseBlockHeader p {
            font-size: 16px;
        }
        .expertiseBlockContent {
            top: 16%;
            width: 90%;
            height: 85%;
            .expertiseBlockContent__web {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__branding {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__mobile {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__optimization {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__game {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__love {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
        }
        .expertiseBlockContent img {
            height: 20%;
            width: auto;
        }       
        .expertiseBlockContent h6 {
            font-size: 16px;
            margin-top: 7%;
        }
        .expertiseBlockContent p {
            font-size: 16px;
            margin-top: 7%;
        }
    }
    .teamBlock {
        display: flex;
        flex-direction: column;
        height: 1000px;
        .teamBlock__header {
            top: 2%;
        }
        .teamPhoto {            
            position: absolute;
            top: 15%;
            left: 5%;
            transform: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;   
            .teamPhotoFirst {
                margin-bottom: 5px;
            }
            .dikAdalin {
                margin-bottom: 5px;
            }
            .jengKol {
                margin-bottom: 5px;
            }
        }
        .teamBlockFooter {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .ourWorks {
        height: 1000px;
        .leftHeader {
            top: 2%;
            left: 50%;
            transform: translate(-50%);
        }
        .rightHeader {
            top: 6%;
            right: 48%;
            transform: translate(50%);
            font-size: 16px;
        }
        .examplesWork {
            top: 10%;
            flex-direction: row;
        }
        .examplesWork img { 
            width: 33.3%;
        }
        .buttonLoadMore {
            bottom: 3%;
        }
    }
    .ceoBlock {
        height: 600px;
        background:
            url("../img/ceo_overlay.png"),
            url("../img/ceo_image.png");
        background-size: 100% 100%;
        position: relative;
        .ceoBlock__content {            
            top: 10%;
        }
        .ceoBlock__content p {
            width: 300px;
            margin-top: 0%;
            font-size: 18px;
        }
        .ceoBlock__name {  
            bottom: 28%;
        }
        .ceoBlock__photo {
            bottom: 12%;
            margin-right: 4%;              
            .ceoForward {
                margin-left: 2%;                
            }    
            .ceoBack {
                margin-right: 2%;                
            }  
        }
        .ceoBlock__photo img {
            margin: 0.5%;            
        }
    }
    .inputBlock {
        height: 1000px;
        margin-left: 5%;
        margin-top: 5%;
        .goodNews{
            .nameSubmit {
                width: 300px; 
                margin-bottom: 2.5%;
            }
            .messageSubmit {
                width: 300px;
            }
        }
        .goodNews h2 {
            margin-bottom: 2.5%;
        }
        .happyClient {      
            width: 375px;
            top: 52%;
            right: 0; 
            left: 5%;
            .happyClient__header {                
                margin-left: 22%;
                margin-bottom: 7%;
            }            
            .happyClient__brands img {
                margin-left: 0%;
                margin-right: 5%;
                margin-right: 5%;
                margin-bottom: 12%;
            }
        }        
    }
    .footerBlock {
        height: 600px;
        .footerBlock__about {
          width: 60%;
          top: 5%;
          left: 5%;               
          .tajamBlock {
            display: inline-flex;
            align-items: center;
            .logoBlock {
              margin-right: 5%;
            }
          }
        }
        .contentBlock {
          font-size: 16px;
          margin-bottom: 5%;
          margin-top: 5%;
        }
        .itemsList {
          font-family: 'Roboto', SansSerif;
          font-size: 12px;
          font-weight: 600;
          color: #ffffff;
          display: inline-flex;
          width:  100%;
          .terms {
            margin-left: 7%;
            margin-right: 7%;
          }
        }
        .itemsList li {
          list-style-type: none;
        }
        .itemsList li:hover {
          color: #00e0d0;
        }
    /////////
        .footerBlock__studio {
            width: 60%;
            height: auto;
            position: absolute;
            top: 43%;
            left: 5%;                        
            .locationTajam {
                display: inline-flex;
                align-items: flex-start;              
                .locationLogo {  
                    margin-right: 10%;                  
                } 
            }  
            .ourPhone {
                display: inline-flex;
                align-items: flex-start;
                .imagePhone {
                    margin-right: 10%;                               
                }
            }
        }
        .footerBlock__studio h4 {
            font-family: 'Roboto', SansSerif;
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;        
            margin-bottom: 3%;
        }
        .footerBlock__studio p {
            font-family: 'Roboto', SansSerif;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            margin-bottom: 5%        
        }

    /////////
        .footerBlock_stayIn {
            width: 60%;
            height: auto;
            position: absolute;
            top: 73%;
            left: 5%;  
            .stayIn {
                font-family: 'Roboto', SansSerif;
                font-size: 15px;
                font-weight: 700;
                color: #ffffff;        
                margin-bottom: 3%;
            }
            .subscribeIn {
                display: inline-flex;
                .nameSubmit {
                    height: 41px;
                    width: 210px;                
                    margin-bottom: 1.5%; 
                    display: inline-flex;
                    align-items: flex-start;
                    background-color: transparent;
                }
                .paperButton {
                    .paper {
                        right: 40%;
                        top: 3%;
                    }
                }            
            }            
        }
    }
}

@media screen and (max-width: 500px) {
    .headerBlock {
        &__logo {
            top: 3%;
            left: 5%;
        } //headerBlock Logo
        &__Menu {            
            top: 3%;
            right: 5%;
            .menuItems {
                display: flex;
                flex-direction: column;
            } // menuItems         
        } // headerBlock Menu
        .slider {            
            left: 5%;
            top: 25%;
            width: 90%;
            height: 70%;
            .articleStory {
                font-size: 16px;
            } //articleStory
            .sliderButton {
                text-align: center;
                margin-bottom: 10%;
            } //sliderButton
            .buttonLearnMore {
                top: 70%;
            } // buttonLearnMore
            .sliderDots {
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%);
            } //sliderDots
        }//
    }
    .ourStoryBlock {    
        height: 550px;
        .ourStoryBlock__content {
            top: 5%;
            left: 5%;
            right: 5%;
            height: 180px;  
            .logoTajamBlock img {
                height: 100px;
                width: auto;
            }            
            .textBlock p {
                font-size: 16px;
            }           
        }
        .sliderButton {
            .buttonLearnMoreSecond {
                bottom: 5%;
                left: 20%;                
            }
        }
    }
    .videoBlock {
        height: 300px;
        .videoBlock__content {
            .videoBlockLogo {
                .circle {
                    position: absolute;
                    top: 35%;
                    left: 40%;
                }
                .play{
                    position: absolute;
                    top: 45.5%;
                    left: 49.5%;
                }
            }
            .videoBlockText {
                top: 75%;
                left: 35%;
            }
        }
    }
    .expertiseBlock {
        height: 1000px;
        .expertiseBlockHeader {
            top: 2%;
        }
        .expertiseBlockHeader p {
            font-size: 16px;
        }
        .expertiseBlockContent {
            top: 16%;
            width: 90%;
            height: 85%;
            .expertiseBlockContent__web {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__branding {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__mobile {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__optimization {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__game {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
            .expertiseBlockContent__love {
                width: 45%;
                height: 33%;
                margin-bottom: 3%;
            }
        }
        .expertiseBlockContent img {
            height: 10%;
            width: auto;
        }       
        .expertiseBlockContent h6 {
            font-size: 16px;
        }
        .expertiseBlockContent p {
            font-size: 16px;
        }
    }
    .teamBlock {
        display: flex;
        flex-direction: column;
        height: 1600px;
        .teamBlock__header {
            top: 2%;
        }
        .teamPhoto {            
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;   
            .teamPhotoFirst {
                margin-bottom: 5px;
            }
            .dikAdalin {
                margin-bottom: 5px;
            }
            .jengKol {
                margin-bottom: 5px;
            }
        }
        .teamBlockFooter {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .ourWorks {
        height: 1000px;
        .leftHeader {
            top: 2%;
            left: 50%;
            transform: translate(-50%);
        }
        .rightHeader {
            top: 6%;
            right: 48%;
            transform: translate(50%);
            font-size: 16px;
        }
        .examplesWork {
            top: 10%;
            flex-direction: row;
        }
        .examplesWork img { 
            width: 33.3%;
        }
        .buttonLoadMore {
            bottom: 3%;
        }
    }
    .ceoBlock {
        height: 600px;
        background:
            url("../img/ceo_overlay.png"),
            url("../img/ceo_image.png");
        background-size: 100% 100%;
        position: relative;
        .ceoBlock__content {            
            top: 10%;
        }
        .ceoBlock__content p {
            width: 300px;
            margin-top: 0%;
            font-size: 18px;
        }
        .ceoBlock__name {  
            bottom: 28%;
        }
        .ceoBlock__photo {
            width: 350px;
            bottom: 12%;
            margin-right: 4%;              
            .ceoForward {
                margin-left: 2%;                
            }    
            .ceoBack {
                margin-right: 2%;                
            }  
        }
        .ceoBlock__photo img {
            margin: 0.5%;            
        }
    }
    .inputBlock {
        height: 1000px;
        margin-left: 5%;
        .goodNews{
            .nameSubmit {
                width: 300px; 
                margin-bottom: 2.5%;
            }
            .messageSubmit {
                width: 300px;
            }
        }
        .goodNews h2 {
            margin-bottom: 2.5%;
        }
        .happyClient {      
            width: 375px;
            top: 50%;
            right: 0; 
            left: 0%;
            .happyClient__header {                
                margin-left: 22%;
                margin-bottom: 7%;
            }            
            .happyClient__brands img {
                margin-left: 0%;
                margin-right: 5%;
                margin-right: 5%;
                margin-bottom: 12%;
            }
        }        
    }
    .footerBlock {
        height: 600px;
        .footerBlock__about {
          width: 90%;
          top: 5%;
          left: 5%;               
          .tajamBlock {
            display: inline-flex;
            align-items: center;
            .logoBlock {
              margin-right: 5%;
            }
          }
        }
        .contentBlock {
          font-size: 16px;
          margin-bottom: 5%;
          margin-top: 5%;
        }
        .itemsList {
          font-family: 'Roboto', SansSerif;
          font-size: 12px;
          font-weight: 600;
          color: #ffffff;
          display: inline-flex;
          width:  100%;
          .terms {
            margin-left: 7%;
            margin-right: 7%;
          }
        }
        .itemsList li {
          list-style-type: none;
        }
        .itemsList li:hover {
          color: #00e0d0;
        }
    /////////
        .footerBlock__studio {
            width: 90%;
            height: auto;
            position: absolute;
            top: 43%;
            left: 5%;                        
            .locationTajam {
                display: inline-flex;
                align-items: flex-start;              
                .locationLogo {  
                    margin-right: 10%;                  
                } 
            }  
            .ourPhone {
                display: inline-flex;
                align-items: flex-start;
                .imagePhone {
                    margin-right: 10%;                               
                }
            }
        }
        .footerBlock__studio h4 {
            font-family: 'Roboto', SansSerif;
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;        
            margin-bottom: 5%;
        }
        .footerBlock__studio p {
            font-family: 'Roboto', SansSerif;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            margin-bottom: 8%        
        }

    /////////
        .footerBlock_stayIn {
            width: 90%;
            height: auto;
            position: absolute;
            top: 73%;
            left: 5%;  
            .stayIn {
                font-family: 'Roboto', SansSerif;
                font-size: 15px;
                font-weight: 700;
                color: #ffffff;        
                margin-bottom: 7%;
            }
            .subscribeIn {
                display: inline-flex;
                .nameSubmit {
                    height: 41px;
                    width: 210px;                
                    margin-bottom: 1.5%; 
                    display: inline-flex;
                    align-items: flex-start;
                    background-color: transparent;
                }
                .paperButton {
                    .paper {
                        right: 20%;
                        top: 35%;
                    }
                }            
            }            
        }
    }
}
